html, body{ 
	height:100%;
	margin:0;
	padding:0;
	background-color: #F0F0F0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 2px;
}

.soc > a{
	color: black;
}

#header .row-fluid{
	vertical-align: middle;
}

.container-fluid{
	height:100%;
	display:table;
	width: 100%;
	padding: 0;
}
 
.row-fluid {
	height: 100%;
	display:table-cell;
}
 
.centering {
	float:none;
	margin:0 auto;
}